body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  //background-color: yellow;
  display: grid;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
div,
main,
header,
footer,
section,
article,
li,
a,
p,
input,
select,
textarea,
table,
thead,
th,
td,
tr,
tbody,
tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* input:focus,
input:focus-visible,
input:focus-within {
  border: 0;
  outline: 0;
} */

input {
  background-color: transparent;
}


a:hover {
  color: var(--color-black);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-screen {
  width: 100vh;
}

.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-xs {
  font-size: 0.5rem;
}

.text-sm {
  font-size: 0.75rem;
}

.text-standard {
  font-size: 1rem;
}

.text-base {
  font-size: 1.25rem;
}

.text-m {
  font-size: 1.5rem;
}

.text-lg {
  font-size: 1.75rem;
}

.text-xl {
  font-size: 2rem;
}

.text-2xl {
  font-size: 4rem;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

.logo {
  display: block;
}

// Core elements
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
} 

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  margin: 0;
  padding: 0;
}

span {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

// Navigation
nav {
  background-color: green;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  flex: 1;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: white;
}

header {
  background-color: blue;
  padding: 20px;
  color: white;
}

main {
  display: grid;
  padding: 20px;
  background-color: red;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 90vh;
}

footer {
  background-color: blue;
  padding: 20px;
  color: white;
}